name: Release

on:
  push:
    tags:
      - 'v*'

env:
  # These environment variables are automatically recognized by poetry and pip
  # They allow us to specifically control where the cache is kept, so we can use 
  # the actions/cache@v2 action to store downloaded dependencies between multiple runs
  POETRY_CACHE_DIR: .cache/poetry
  PIP_CACHE_DIR: .cache/pip

jobs:
   publish:
      name: "Publish package"
      runs-on: ubuntu-latest

      # Only run this if we're in master
      if: github.event.base_ref == 'refs/heads/master'

      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: "Get python version"
          uses: outcome-co/action-read-toml@master
          id: python_version
          with:
            path: pyproject.toml
            key: tool.poetry.dependencies.python

        - name: "Set up python ${{ steps.python_version.outputs.tool_poetry_dependencies_python }}"
          uses: actions/setup-python@v2.0.1
          with:
            python-version: ${{ steps.python_version.outputs.tool_poetry_dependencies_python }}

        - name: Configure pip cache
          uses: actions/cache@v2
          with:
            path: ${{ env.PIP_CACHE_DIR }}
            key: pip-${{ hashFiles('**/pyproject.toml') }}

        - name: Configure poetry cache
          uses: actions/cache@v2
          with:
            path: ${{ env.POETRY_CACHE_DIR }}
            key: poetry-${{ hashFiles('**/pyproject.toml') }}

        - name: "Install dev dependencies"
          run: make dev-setup

        - name: "Publish package"
          run: make publish
          env:
            POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_REGISTRY_TOKEN }}
